*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table-container{
    padding: 0 10%;
    margin: 40px auto 0;
}
.heading{
    font-size: 35px;
    text-align: center;
    color: #283E61;
    margin-bottom: 20px;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead{
    background-color: #283E61;
}
.table thead tr th {
    font-size: 20px;
    letter-spacing: 0.45px;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    text-align: center;
    border: 1px solid #E6F0F6;
}
.table tbody tr td{
    font-size: 20px;
    letter-spacing: 0.40px;
    font-weight: normal;
    color: #283E61;
    background-color: #ffffff;
    padding: 8px;
    text-align: center;
    border: 1px solid #283E61;
}
.aceptar {
    background: #283E61;
    border: 0;    
    color: #fff;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    width: 20%;
}
.ver{
    background: #283E61;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    border-radius: 25px;
}
.boton:hover {
    background-color: #2980b9;
}