.mensaje-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin-top: 10%;
  padding: 0%;
 }
  .container-ms {
    max-width: 850px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #CF3454;
  }
  h1 {
    color: #CF3454;;
    text-align: center;
   
  }
  p {
    text-align: center;
    color: #283E61;
    p.g900 { font-weight: 950; }
    
  }
  .btn-container-ms {
    text-align: center; 
  }
  .btn-ms {
    display: inline-block;
    padding: 10px 20px;
    background-color: #283E61;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 30px; 
  }
  .img-container-ms {
    text-align: left; 
  }
  .img-ms {
    display: inline-block;
    width: 50px; 
    height: 60px; 
    /*margin-left: 0%;
    margin: 10%;*/
    position: absolute; 
    top: 35%; 
    left: 65%;
  }
  .img-ms2 {
    display: inline-block;
    width: 50px; 
    height: 60px; 
    /*margin-left: 0%;
    margin: 10%;*/
    position: absolute; 
    top: 20%; 
    left: 65%;
  }
 
