.main-body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.main-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-label {
    font-weight: bold;
}
.form-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-textarea {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;

    margin-left: 160px;
}
.form-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    margin-left: 160px;
}
.form-button:hover {
    background-color: #45a049;
}

.column {
    float: left; 
    width: 30%; 
    padding: 20px; 
    box-sizing: border-box; 
    margin-left: 150px;
    
}
.column-a {
    
    float: right;
    width: 30%; 
    padding: 20px; 
    box-sizing: border-box;
}


/* Estilo para separar los botones y darles diseño */
.boton-container {
    color: #44d7eb;
    /* width: 100%;
    height: 70px; */
    /* margin-left: 170px;
    margin-top: 35%; */

    text-align: center;
    margin-top: 20px;
}

.boton {
    padding: 10px 20px;
    background: #283E61;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

.boton:last-child {
    margin-right: 0; /* Elimina el margen derecho del último botón para evitar espacio adicional */
}

.boton:hover {
    background-color: #2980b9;
}

.title-h4 {
    color: #283E61;
    margin-left: 445px;
    margin-top: 40%;
   
}
.title-h4 span {
    color: #CF3454;
}
.title-h1{
    color: #283E61;
}
.title-h1 span{
    color: #CF3454;
}
.boton-volver{
    background: #283E61;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    width: 20%;
    cursor: pointer;
    border-radius: 25px;
}
.boton-vD{
    background: #283E61;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    margin-right: 0;
    width: 15%;
    cursor: pointer;
    border-radius: 25px;
}
.boton-vD:hover {
    background-color: #2980b9;
}