.table-container{
    padding: 0;
    margin: 100px auto 0;
}
/* Cambia el color del texto en la tabla */
/*.table {
    color: #44d7eb;
    width: 80%;
    height: 70px;
    margin-left: 170px;
    margin-top: 35%; 


} */

/*
.th {
    background-color: #b0ceee; 
    color: rgb(18, 98, 189); 
   
*/


.table{
    color: #ffffff;
    background: #CF3454;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.table thead{
    background-color: #CF3454;
}
.table thead tr th {
    font-size: 15px;
    letter-spacing: 0.40px;
    text-align: center;
    color: #ffffff;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #ffffff;
}
.table tbody tr td{
    font-size: 15px;
    letter-spacing: 0.40px;
    font-weight: normal;
    color: #CF3454;
    background-color: #ffffff;
    padding: 8px;
    text-align: center;
    border: 1px solid #CF3454;
}