/* styles.css */
.tabla_historias {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.tabla_historias th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tabla_historias th {
    background-color: #f2f2f2;
}